/* styles.css */

form {
    max-width: 50%;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2.5% rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 5%;
  }
  
  .form-title, .form-header {
    text-align: center;
    margin-bottom: 1%;
  }

  label {
    display: block;
    text-align: left;
    margin-bottom: 2%;
    font-size: 100%;
    padding-bottom: 1%;
  }

  .error-message {
    color: #ff0000; /* Red color for the error message */
    font-size: 90%;
    margin-top: 0.5%;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
    border: 0.1em solid #ccc;
    border-radius: 1%;
    box-sizing: border-box;
    margin-top: 1.8%;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 2.5% 3.75%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-size: 110%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  